In [4]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_excel("Telecom Company Call-Center-Dataset.xlsx")

In [3]:
len(df)

5000

In [5]:
# Liste des départements de la région Provence-Alpes-Côte d'Azur
departements_paca = ['Alpes-de-Haute-Provence', 'Hautes-Alpes', 'Alpes-Maritimes', 'Bouches-du-Rhône', 'Var', 'Vaucluse']

# Ajout de la nouvelle colonne avec un département aléatoire
df['Departement'] = np.random.choice(departements_paca, size=len(df))

# Affichage du DataFrame avec la nouvelle colonne
df.head(2)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating,Departement
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0,Alpes-Maritimes
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0,Bouches-du-Rhône

In [6]:
# Compter le nombre d'occurrences de chaque département
repartition_departements = df['Departement'].value_counts()

# Afficher la répartition des départements
print(repartition_departements)

Departement
Bouches-du-Rhône           854
Var                        851
Hautes-Alpes               835
Alpes-de-Haute-Provence    826
Vaucluse                   825
Alpes-Maritimes            809
Name: count, dtype: int64

In [7]:
df_commune = pd.read_excel("Liste commune.xlsx")

In [10]:
df_commune.head(2)

   Code                     Libellé
0  4049  Château-Arnoux-Saint-Auban
1  4070             Digne-les-Bains

In [11]:
# Liste des communes Paca
communes = df_commune['Code'].tolist()

In [12]:
# Ajout de la nouvelle colonne avec un département aléatoire
df['Code_Insee'] = np.random.choice(communes, size=len(df))

In [15]:
# Fusion des deux DataFrames sur la colonne code INSEE
df_resultat = pd.merge(df, df_commune, left_on='Code_Insee', right_on='Code', how='left')

In [18]:
len(df_resultat)

5000

In [29]:
# Import de la nouvelle base  de données
data = pd.read_excel("data.xlsx")

In [30]:
# Liste des sentiments
sentiments = ["Negative", "Neutral", "Very Negative", "Positive", "Very Positive"]

# Probabilités associées à chaque département (Var et Vaucluse sont plus représentés)
probabilites = [0.15, 0.17, 0.13, 0.35, 0.2]

# Ajout de la nouvelle colonne sentiment
data['Sentiment'] = np.random.choice(sentiments, size=len(data), p=probabilites)

# Affichage du DataFrame avec la nouvelle colonne
data.head(2)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating,Departement,Code_Insee,Commune,Sentiment
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0,Var,83090,Ollioules,Neutral
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0,Alpes-Maritimes,6033,Carros,Negative

In [31]:
# Compter le nombre d'occurrences de chaque département
repartition_departements = data['Sentiment'].value_counts()

# Afficher la répartition des départements
print(repartition_departements)

Sentiment
Positive         1786
Very Positive    1004
Neutral           838
Negative          733
Very Negative     639
Name: count, dtype: int64

In [32]:
# Générer aléatoirement des durées entre 2 et 15 minutes (en secondes)
data['Duree_Secondes'] = np.random.randint(120, 901, size=len(data))

# Convertir les durées en format hh:mm:ss
data['Heures'] = pd.to_datetime(data['Duree_Secondes'], unit='s').dt.strftime('%H:%M:%S')

In [34]:
from datetime import datetime
# Convertir la colonne 'Heures' en objet datetime
data['Heu'] = pd.to_datetime(data['Heures'], format='%H:%M:%S').dt.time

# Fonction pour calculer le nombre de minutes à partir d'un objet datetime.time
def heure_en_minutes(heure):
    return heure.hour * 60 + heure.minute

# Appliquer la fonction à la colonne 'Heures' et créer une nouvelle colonne 'Minutes'
data['Minutes'] = data['Heu'].apply(heure_en_minutes)

In [35]:
data.head(2)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating,Departement,Code_Insee,Commune,Sentiment,Duree_Secondes,Heures,Heu,Minutes
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0,Var,83090,Ollioules,Neutral,844,00:14:04,00:14:04,14
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0,Alpes-Maritimes,6033,Carros,Negative,683,00:11:23,00:11:23,11

In [36]:
data.to_excel("data.xlsx", index=False)